@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,400italic,700,700italic,300,300italic);

$baseYellow: #333333;
$baseGreen: #333333;
$baseBlue: #333333;
$topbar-bg-color: darken($baseBlue, 2%);
$accordion-navigation-color: darken($baseBlue, 2%);

@import 'normalize';
@import 'foundation/settings';
@import 'foundation';

.small {
  font-size: em-calc(17px);
}

.italic {
    font-style: italic;
}

.accordion-navigation {
    h5 {
        color: #FFFFFF;
    }
}


.panel-yellow {
  @include panel(
    $bg: lighten($baseYellow, 1%),
    $adjust:true
  );
  h5 {
    font-style: italic;
  }
}

.panel-evidenza {
  @include panel(
    $bg: lighten($baseYellow, 70%),
    $adjust:true
  );
  h5 {
    font-style: italic;
  }
}

.metodo {
    h5 {
        font-weight: bold;
        font-style: italic;
    };
    p {
        font-size: em-calc(17px);
    };
    ol {
    font-size: em-calc(17px);
    }
}

.vantaggi {
  li {
    font-size: em-calc(17px);
  }
}