---
title: Thankyou Page
is_layout: false
listed: false
published: true
cache_strategy: none
response_type: text/html
position: 0
---
{% extends parent %}

{% block 'main' %}
<p>
<div class="row">
        <div class="small-3 small-centered columns">


            <a href="/"><img src="/images/logo_about_fucinadeltag.png"></a>

        </div>

</div>
<p/>
<div class="row panel">
    <div class="small-6 small-centered columns">

            <p>
                <strong>Abbiamo ricevuto la tua richiesta.
                Ti rincontatteremo al più presto</strong>
            </p>

    </div>

</div>
<div class="row">
    <div class="small-4 small-centered columns">

        <p>
                <a href="/">Torna al sito di Fucina del Tag</a>
            </p>

    </div>

</div>




{% endblock %}
